@font-face {
    font-family: 'heebomedium';
    src: url('../fonts/heebo-medium-webfont.eot');
    src: url('../fonts/heebo-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heebo-medium-webfont.woff2') format('woff2'),
    url('../fonts/heebo-medium-webfont.woff') format('woff'),
    url('../fonts/heebo-medium-webfont.ttf') format('truetype'),
    url('../fonts/heebo-medium-webfont.svg#heebomedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 27px
}

.container {
    max-width: 1032px;
    margin: auto;
    display: flex;
    justify-content: flex-end
}

#menu {
    display: flex;
    list-style: none;
}

header nav li {
    margin-left: 33px;
}

header nav a {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
    text-decoration: none;
}

.main_banner {
    padding-top: 140px;
    padding-bottom: 71px;
}

.main_container {
    max-width: 858px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: start
}

.bloc {
    max-width: 497px;
}

.main_banner h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px;
}

.text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 38px;
}

.link {
    background: #FF6464;
    border-radius: 2px;
    padding: 13px 20px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    text-decoration: none;
}

.ing {
    max-width: 243px;
    border-radius: 50%;
    overflow: hidden;
}

section div ing {
    width: 100%;
    display: block;
}

/*middle block*/
.featured_works {
    padding-top: 15px;
    padding-bottom: 80px;
}

.main_unit {
    max-width: 858px;
    margin: auto;
}

section h4 {
    margin-bottom: 22px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D
}

section article {
    display: flex;
    border-bottom: solid 1px #E0E0E0;
    margin-bottom: 25px;
}

.img {
    margin-right: 18px;
    margin-bottom: 15px;
}

.description_des {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.dashboards_years {
    background: #142850;
    border-radius: 16px;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
}

.dashboards {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 26px;
    color: #8695A4;
}

.bashboards_text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

/*Table*/
.form {
    padding-top: 69px;
    padding-bottom: 120px;
    background-color: black
}

.form_bloc {
    margin: auto;
    max-width: 527px;
    text-align: center
}

section div label {
    display: none
}

.input {
    height: 57px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.18);
    font-family: 'Vollkorn';
    font-style: italic;
    color: #FFFFFF
}

.input_email {
    height: 57px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Vollkorn';
    font-style: italic;
    color: #FFFFFF
}

.input_budget {
    height: 57px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.18);
    font-family: 'Vollkorn';
    font-style: italic;
    color: #FFFFFF
}

section div form textarea {
    height: 127px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    resize: none;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    color: #FFFFFF
}

.button {
    padding: 17px 31px 17px 31px;
    border-radius: 2px;
    background-color: transparent;
    border-color: #8BCAC3;
    font-family: 'Vollkorn', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
    height: 53px;
    top: 321px;
    width: 210px;
    left: calc(50% - 210px / 2);
}

/*Footer*/

footer ul {
    list-style: none;
    display: flex;
    justify-content: center
}

footer div li {
    margin-right: 10px;
    margin-left: 10px
}

.footer {
    display: flex;
    justify-content: center
}

.item {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
}

.recent_posts {
    max-width: 1152px;
}


.recent-posts {
    background-color: #EDF7FA;
    padding-bottom: 32px;

}

.recent-posts__container {
    width: 100%;
    max-width: 856px;
    margin: 0 auto;
}

.recent-posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-posts__title {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}


.recent-posts_button {
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

.recent-posts__body {
    display: flex;
    justify-content: space-between;
}

.recent-posts__item {
    width: 100%;
    max-width: calc(50% - 10px);
    background-color: #fff;
}

.recent-post {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 0;
}

.recent-post__title {
    margin-bottom: 16px;
    font-family: 'Heebo', sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 38px;
}

.recent-post__info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
}

.recent-post__date {
    display: flex;
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.recent-post__date::after {
    content: "|";
    display: block;
    margin: 0 10px;
}

.recent-post__tags {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;


}

.recent-post__description {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.bloc_john {

    padding-bottom: 104px;
    padding-top: 106px;
}

.bloc_container {
    width: 100%;
    max-width: 681px;
    margin: 0 auto;

}

.blog_text {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    padding-bottom: 55px;
}

.blog__title {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.blog_span {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.blog__span {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.info {
    padding-bottom: 29px;
    padding-top: 32px;
    border-bottom: solid 1px #E0E0E0;
}